<div class="rectangle_mid_news_home_recruit">

    
    <div id="content_profile_candidate_recruit">
        <div id="head_profie_candidate_recruit">
            <img src="/css/style/image/avatar_candidate.svg" id="avatar_profile_candidate_recruit"
                alt="avatar_profile_candidate_recruit" />
            <div id="name_my_profile" style="cursor: pointer;">{{data.user.name}}</div>
              <a id="btn_accept_candidate"  href="/candidate/edit_profile_candidate">Chỉnh
                sửa</a>
          
        </div>
        <div id="info_profile_candidate_recruit">
            <div id="text_info_personal">Thông tin cá nhân</div>
            <div id="date_of_birth_profile_candidate_recruit">Ngày sinh: {{data.user.date_of_birth}} </div>
            <div id="sex_profile_candidate_recruit">Giới tính: {{data.user.gender}}</div>
            
            <div id="phone_profile_candidate_recruit">SĐT: {{data.user.phone}}</div>
            <div id="email_profile_candidate_recruit">Email: {{data.user.email}}</div>
            <div id="address_profile_candidate_recruit">Địa chỉ: {{data.user.address}}</div>

            {{!-- Chinh cai duoi nay thanh anh download + dua file cv cua ung vien vao --}}
        
        </div>
    </div>
</div>
