<div class="rectangle_content_detail_news_home_recruit">
    <div class="modal fade" id="modal_delete_recruitment" tabindex="-1" aria-labelledby="modal_deleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa tin tuyển dụng này?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/status_recruitment" method="post">
                        <input type="text" class="form-control" name="id"  value="{{news.id}}"
                            style="display: none;">
                             <input type="text" class="form-control" name="type"  value="deleted"
                            style="display: none;">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="modal fade" id="modal_lock_recruitment" tabindex="-1" aria-labelledby="modal_deleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn khóa tin tuyển dụng này?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/status_recruitment" method="post">
                        <input type="text" class="form-control" name="id"  value="{{news.id}}"
                            style="display: none;">
                           <input type="text" class="form-control" name="type"  value="locked"
                            style="display: none;">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">Khóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="modal fade" id="modal_unlock_recruitment" tabindex="-1" aria-labelledby="modal_deleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn mở khóa tin tuyển dụng này?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/status_recruitment" method="post">
                        <input type="text" class="form-control" name="id"  value="{{news.id}}"
                            style="display: none;">
                           <input type="text" class="form-control" name="type"  value="unlock"
                            style="display: none;">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">Mở khóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div class="modal fade" id="modal_approved_recruitment" tabindex="-1" aria-labelledby="modal_deleteLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn duyệt tài khoản này?
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/admin/status_recruitment" method="post">
                        <input type="text" class="form-control" name="id"  value="{{news.id}}"
                            style="display: none;">
                             <input type="text" class="form-control" name="type"  value="approved"
                            style="display: none;">
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" id="submit_delete" class="btn btn-primary">Duyệt</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="header_company_detail_job_recruit">
        <img src="{{news.avatar}}" alt="logo_company_recruit" class="logo_company_detail_job_recruit">
        <div class="name_job_detail_job">{{news.title}}</div>
        <div class="name_company_detail_job" onclick="window.location.href='http://localhost:3035/admin/manage_account/detail_account?id={{news.belong_employer}}&&type=employer'">{{news.nameEmployer}}</div>
        <img src="/css/style/image/ic_time.svg" alt="ic_time" class="ic_time_detail_job">
        <div class="deadline_submit_record_detail_job">Hạn nộp hồ sơ: {{news.due_date}} </div>
        <img src="/css/style/image/ic_calendar.svg" alt="ic_calendar" class="ic_calendar_detail_job">
        <div class="date_post_news_detail_job">Ngày đăng tin: {{news.creation_date}} </div>
        <div id="status_recruitment">Trạng thái: {{news.state}}</div>

        {{#if data.isApproved}}
        <button type="button" class="btn_accept_candidate" id="locked_account" data-bs-toggle="modal" data-bs-target="#modal_lock_recruitment">Khóa</button>
        <button type="button" class="btn_reject_candidate" id="remove_account" data-bs-toggle="modal" data-bs-target="#modal_delete_recruitment">Xóa</button>
        {{/if}}
        {{#if data.isPending}}
        <button type="button" class="btn_accept_candidate" id="locked_account" data-bs-toggle="modal" data-bs-target="#modal_approved_recruitment">Duyệt</button>
        <button type="button" class="btn_reject_candidate" id="remove_account" data-bs-toggle="modal" data-bs-target="#modal_delete_recruitment">Xóa</button>
        {{/if}}
        {{#if data.isLocked}}
        <button type="button" class="btn_accept_candidate" id="locked_account" data-bs-toggle="modal" data-bs-target="#modal_unlock_recruitment">Mở khóa</button>
        <button type="button" class="btn_reject_candidate" id="remove_account" data-bs-toggle="modal" data-bs-target="#modal_delete_recruitment">Xóa</button>
        {{/if}}
 


    </div>
    <div id="rectangle_require_recruit">
        <div id="text_detail_recruit_detail_job">Chi tiết tuyển dụng</div>
        <div id="rectangle_general_information_detail_job">
            <div id="text_general_information_detail_job">Thông tin chung</div>
            <div class="circle_icon" id="circle_icon_salary_detail_job"></div>
            <div id="text_salary_detail_job">Mức lương</div>
            <div id="value_salary_detail_job">{{news.min_salary}}-{{news.max_salary}} triệu</div>
            <img src="/css/style/image/ic_cash.svg" alt="ic_cash" id="ic_salary_detail_job">

            <div class="circle_icon" id="circle_icon_persons_detail_job"></div>
            <div id="text_number_person_detail_job">Số lượng</div>
            <div id="value_number_person_detail_job">{{news.number_of_candidates}} người</div>
            <img src="/css/style/image/ic_persons.svg" alt="ic_person" id="ic_persons_detail_job">

            <div class="circle_icon" id="circle_icon_method_work_detail_job"></div>
            <div id="text_method_work_detail_job">Hình thức làm việc</div>
            <div id="value_method_work_detail_job">{{news.working_form}}</div>
            <img src="/css/style/image/ic_bag.svg" alt="ic_method_work" id="ic_method_work_detail_job">
            <div class="circle_icon" id="circle_icon_rank_detail_job"></div>
            <div id="text_rank_detail_job">Kinh nghiệm</div>
            <div id="value_rank_detail_job">{{news.experience}}</div>
            <img src="/css/style/image/ic_experience.svg" alt="ic_rank" id="ic_rank_detail_job">
            <div class="circle_icon" id="circle_icon_gender_detail_job"></div>
            <div id="text_gender_detail_job">Giới tính</div>
            <div id="value_gender_detail_job">{{news.gender}}</div>
            <img src="/css/style/image/ic_gender.svg" alt="ic_gender" id="ic_gender_detail_job">
    
            <div id="text_adress_work_detail_job">Địa điểm làm việc</div>
            <div id="value_adress_work_detail_job">{{news.address}}
            </div>
        </div>
        <div id="rectangle_share_recruit_detail_job">
            <div id="text_share_recuit_detail_job">Chia sẻ tin tuyển dụng</div>
            <div id="text_copy_link_detail_job">Sao chép đường dẫn</div>
            <input type="text" value="http://localhost:3035/admin/manage_news/detail_news?id={{news.id}}" 
                name="link_detail_job" id="link_detail_job">

            <div id="circle_copy_link_detail_job" onclick="share_link()">
                <img src="/css/style/image/ic_copy.svg" alt="ic_copy" id="ic_copy_link_detail_job" onclick="share_link()">
            </div>
        </div>
        {{!-- {{#if data.isApproved}}
          <div id="rectangle_report_recruit_detail_job">
                <div id="text_report_recuit_detail_job">Danh sách ứng tuyển</div>
            <div id="text_describe_report_detail_job">Dưới đây là danh sách ứng viên đã ứng tuyển vào tin tuyển dụng này
            </div>
            <a type="button" id="btn_report_detail_job" href="http://localhost:3035/admin/manage_news/list_candidates?id={{news.id}}">Xem danh sách ứng tuyển</a>
        </div>
        {{/if}} --}}


        <div id="text_describe_job_detail_job">Mô tả công việc</div>
        <pre id="value_describe_job_detail_job">
                   {{news.description}}
                </pre>
        <div id="text_require_candidate_detail_job">Yêu cầu ứng viên</div>
        <pre id="value_require_candidate_detail_job">
                    {{news.requirements}}
                </pre>
        <div id="text_benefit_detail_job">Quyền lợi</div>
        <pre id="value_benefit_detail_job">
                  {{news.benefits}}
                </pre>

    </div>

</div>
<script>
     function share_link()
     {
        var link=document.getElementById('link_detail_job');
        link.select();
        navigator.clipboard.writeText(link.value);
     }
</script>