<div id="content_home_admin">
    <div id="text_recruitment_efficiency">Số lượng tin tuyển dụng: {{length}}</div>
    <table id="table_mamage_recruit" style="width: 1333px;" rules="rows">
        <tr class="title_table_recruit">
            <th>STT</th>
            <th>Tên tin tuyển dụng</th>
            <th>Nhà tuyển dụng</th>
            <th>Ngày tạo</th>
            <th>Lượt nộp</th>
        </tr>
        {{!-- {{#each list}}
        <tr onclick="window.location.href='http://localhost:3035/admin/manage_news/detail_news?id={{this.doc}}'">
            <td>{{this.stt}}</td>
            <td>{{this.title}}</td>
            <td>{{this.nameEmployer}}</td>
            <td>{{this.creation_date}}</td>
            <td>{{this.numberCV}}</td>
        </tr>
        {{/each}}
       --}}


    </table>
    <nav aria-label="Page navigation example" id="nav_page_home_manage_recruit">
        <ul class="pagination">
       
            {{!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
      --}}
        </ul>
    </nav>

</div>
<script>
    const list_news = {{{ data.list_news }}}
    var numbers = [];
    if (list_news.length % 8 == 0) {
        for (let i = 1; i <= list_news.length / 8; i++) {
            numbers.push(i);
        }
    } else {
        for (let i = 1; i <= list_news.length / 8 + 1; i++) {
            numbers.push(i);
        }
    }

    for (let i = 0; i < numbers.length; i++) {

        $(".pagination").append(`
             <li class="page-item"><a class="page-link" onclick="page(this.id)" id="${numbers[i]}">${numbers[i]}</a></li>
        `)
    }
    window.onload = page(1);

    function page(page) {
        var tr = $(".row_body");
        for (i = 0; i < tr.length; i++) {
            tr[i].remove();
        }
        page = parseInt(page);
        var _list_news = list_news.slice(8 * (page - 1), 8 * (page - 1) + 8);
        for (let i = 0; i < _list_news.length; i++) {

            $("#table_mamage_recruit").append(`
            <tr class="row_body" onclick="window.location.href='http://localhost:3035/admin/manage_news/detail_news?id=${_list_news[i].doc}'">
                <td ">${_list_news[i].stt}</td>
                <td ">${_list_news[i].title}</td>
                <td  ">${_list_news[i].nameEmployer}</td>
                <td  ">${_list_news[i].creation_date}</td>
                <td ">${_list_news[i].numberCV}</td>
            </tr>
        `)
        }
    }
</script>