<div id="content_home_admin">
    <table id="table_mamage_recruit" style="width: 1333px;" rules="rows">
        <tr class="title_table_recruit">
            <th>STT</th>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Ngày tạo</th>
            <th>Loại người dùng</th>
        </tr>
        {{#each list}}
        <tr onclick="window.location.href='http://localhost:3035/admin/manage_account/detail_account?id={{this.doc}}'">
            <td>{{this.stt}}</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.creation_date}}</td>
            <td>{{this.typeAccount}}</td>
        </tr>
        {{/each}}
       

    </table>
    <nav aria-label="Page navigation example" id="nav_page_home_manage_recruit">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

</div>