<div class="rectangle_mid_detail_news_home_recruit">
    {{> menu}}

    <div id="content_profile_company_recruit">
        <div id="head_profie_candidate_recruit">
            <img src="{{{ data.user.avatar }}}" id="avatar_profile_candidate_recruit"
                alt="avatar_profile_candidate_recruit" />
            <div id="name_candidate_recruit">{{{ data.user.name }}}</div>
            <div id="status_profile_candidate_recruit">SĐT: {{{ data.user.phone }}}</div>
            <div id="date_submit_profile_candidate_recruit">Email: {{{ data.user.email }}}</div>
            <a id="btn_accept_candidate"  href="/employer/edit_profile_employer">Chỉnh
                sửa</a>
        </div>

        <div id="info_profile_company_recruit">
            <div id="title_infor_company_detail_job">Thông tin chi tiết</div>
            <div class="circle_icon" id="circle_house_company_detail_job"></div>
            <img src="/css/style/image/ic_house.svg" alt="ic_house" id="ic_house_company_detail_job" />
            <div id="text_introduce_company_detail_job">Giới thiệu</div>
            <pre id="introduce_company_detail_job">
                {{{ data.user.description }}}   
            </pre>

            {{!-- <div id="rectangle_scale_compayny">
                <div class="circle_icon" id="circle_person_company_detail_job"></div>
                <img src="/css/style/image/ic_persons.svg" alt="ic_persons" id="ic_persons_company_detail_job" />
                <div id="text_scale_company_detail_job">Quy mô</div>
                <div id="value_scale_company_detail_job"> ??? </div>
            </div> --}}

            <div id="rectangle_address_compayny">
                <div class="circle_icon" id="circle_address_company_detail_job"></div>
                <img src="/css/style/image/ic_select_province.svg" alt="ic_province"
                    id="ic_province_company_detail_job" />
                <div id="text_province_company_detail_job">Địa điểm</div>
                <div id="value_province_company_detail_job">{{{ data.user.district }}}, {{{ data.user.province }}}</div>
            </div>

            <div id="rectangle_evaluate_detail_account">
                <div id="text_evaluate_total">Đánh giá tổng thể</div>
                <div id="value_evaluate_total">{{{ data.user.rating }}}</div>
                <img src="/css/style/image/ic_star.svg" id="evaluate_star1" alt="evaluate_star1" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_star2" alt="evaluate_star2" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_star3" alt="evaluate_star3" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_star4" alt="evaluate_star4" />
                <img src="/css/style/image/ic_star.svg" id="evaluate_star5" alt="evaluate_star5" />
                <a id="btn_list_evaluate_company" href="/employer/list_rating">Xem tất cả đánh giá</a>
            </div>
        </div>
    </div>
</div>